/* CSS for AppBar */

  .appBar {
    display: block;
    margin-left: 50px;
    width: auto;
  }
  
  /* CSS for Bottom Navigation - Initially hide on larger screens */
  .navbar {
    display: none;
  }
  
  /* styles/Home.module.css */
  .linkButton {
    background: none;
    border: royalblue;
    color: white;
    cursor: pointer;
    font-size: 20px; /* Optional: Adjust the font size as needed */
  }
  .Zuhaib{
   color: white;
    display: flex;
    justify-content: center;


  }
  .Zuhaib1{
    color:#2DD4BF ;
    display: flex;
    justify-content: center;
    font-size: 45px;
  }
  .hire {
     background-color: #2DD4BF;
    color: white;
    border: none;
    border-radius: 20px; /* Adjust the value to control the level of rounding */
    margin-left: 45%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 20px; /* Optional: Adjust the font size as needed */
    padding: 10px 20px; /* Optional: Add padding for spacing */
  }
  #info-section  {
   
    margin-left: 20px; /* Adjust the margin value as needed */
  }
  .content {
    min-height: 100vh; /* Ensure the section occupies at least the full viewport height */
   font-size: large;
    flex: 1; /* Allow the content to expand and fill the available space */
    margin-left: 50px; /* Adjust the margin to match the sidebar width */
    padding: 20px; /* Add padding as needed to separate content from the sidebar */
  }
  /* styles/Home.module.css */

/* Add a class for mobile text size adjustments */
.mobileText {
  font-size: 12px; /* Adjust the font size as needed for mobile screens */
}

  /* In your CSS module (styles.module.css) */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .infoSection {
    flex: 1;
    padding: 20px; /* Add padding as needed */
    text-align: center;
    background-color: #2dd4bf;
  }
  
  .pictureSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .roundedPicture {
    width: 30%; /* Adjust the width as needed */
    height: 30%; /* Equal to the width to create a circle */
    background-color: #2dd4bf; /* Background color */
    border-radius: 40%; /* Rounded borders to create a circle */
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  /* Media Query to display Bottom Navigation on smaller screens */
  @media (max-width: 600px) {
    .navbar {
      display: block;
    }
    .container {
      flex-direction: column-reverse; /* Stack sections on top of each other for small screens */
      text-align: center;
    }
  
    .infoSection {
      padding: 20px; /* Adjust padding as needed */
      margin-top: 5%; /* Add margin at the top for spacing */
    }
  
    .pictureSection {
      margin-top: 35%;
     
    }
  
    .roundedPicture {
      
      width: 90%; /* Adjust the width as needed for smaller screens */
      height: 90%; /* Equal to the width to maintain a circular shape */
    }
  
    .hire {
      background-color: #2DD4BF;
     color: white;
     border: none;
     border-radius: 20px; /* Adjust the value to control the level of rounding */
     margin-left: 3%;
     display: flex;
     justify-content: center;
     cursor: pointer;
     font-size: 20px; /* Optional: Adjust the font size as needed */
     padding: 10px 20px; /* Optional: Add padding for spacing */
   }
  }
  